<% title "New Product" %>

<h2><%= @journal.title.capitalize %></h2>

<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :placeholder => 'Eg: 15% body fat by Jan 1, 2020' %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :placeholder => 'An objective or activity', label: "Add 1, 2, or 3 milestones!",  :class => "form-textfield" %>
  <% end %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :placeholder => 'that supports your main goal..', label: false, :class => "form-textfield" %>
  <% end %>
    <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :placeholder => 'Eg: Yoga', label: false, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>

<div class="icon-div">
<i class="fas fa-arrow-down"></i>
</div>



<% @entries.each do |entry| %>
<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle"><%= entry.goal %></label>
  <div class="collapsible-content">
    <div class="content-inner">

      <%=  link_to entry.goal.capitalize, entry_path(entry), :class => "link-title" %> Milestones:
      <% entry.last_three_milestones.each do |milestone| %>
 <p><i class="far fa-clock"></i><%= milestone.title %></p><i class="far fa-play-circle"></i>

     <% end %>
    </div>
  </div>
</div>

<% end %>
