<h2 class="paragraph-margin"><%= @journal.title.capitalize %></h2>
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :label => "Goal" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :label => "Milestone", :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>

<% @entries.each do |entry| %>
<div class="entries-card">
<h3><%= entry.goal %></h3>
  <% entry.milestones.each do |milestone| %>
<h4 style=";"> <%= milestone.title %></h4>
<%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
<div class="entries-card-button">
  <%= m.submit "Start Focus Session", :id => "button-special"%>
  </div>
  </div>
<% end %>
<% end %>
<% end %>
