

       <div class="card-full-popup">
         <div class="card-full-popup-inner">
          <p class="add-goal" style="color:#69585F; text-align:center;">Add a New Goal</p>
          <a href="" class="button-main-small">Add</a>
            <%= simple_form_for [@journal, @entry] do |m| %>
            <%= m.input :goal  %>
          </div>
          </div>
          <% end %>
<div class="card-full">
  <div class="card-full-new-goal">
    <a class="" href="#popup-goal">New Goal</a>
    <i class="fas fa-arrow-right"></i>
  </div>
<% content_for :meta_title, "#{@journal.title.capitalize} - #{DEFAULT_META["meta_product_name"]}" %>
    <div class="card-full-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/doem0zjpf/image/upload/v1574155290/back_iwhfiy.jpg');   background-position: center;
    background-size: cover;">
          <h2 class="card-full-title"><%= @journal.title.capitalize %></h2>
    </div>
      <% if @journal.achievements.count == 0 %>
          <% then %>
          <div class="card-full-trophies">
          <p class="card-full-paragraph">No trophies yet!</p>
            <% else %>
              <% @journal.trophies.each do |trophy| %>

                <img  class="medals-fix" src=<%= trophy.image %>
              <% end %>
          <% end %>
        </div>


    <% @entries.each do |entry| %>
        <div class="card-goals">
        <h3><%= entry.goal %><br></h3>
          <a class="button" style="" href="#popup<%= entry.id %>">+</a>
        </div>
          <% entry.milestones.each do |milestone| %>
            <%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
              <p><%= milestone.title %></p>
              <%= button_tag do %>
      <i class="fas fa-arrow-right"></i>
            <% end %>
        <% end %>
      <% end %>
      <a class="close" href="#">&times;</a>

        <%= simple_form_for [entry, Milestone.new] do |m| %>
        <%= m.input :title, label: false, :class => "form-textfield" %>
      <% end %>
<% end %>
</div>
</div>
</div>


<script>
  function on() {
    document.getElementById("overlay").style.display = "block";
  }

  function off() {
    document.getElementById("overlay").style.display = "none";
  }
</script>
