<h2 class="paragraph-margin"><%= @journal.title.capitalize %></h2>
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :label => "Goal" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :label => "Milestone", :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>
