<% title  @journal.title.capitalize %>
<h2><%= @journal.title.capitalize %></h2>
<div class="box">
  <a class="button" href="#popup1">Add A New Goal</a>
</div>
<div id="popup1" class="overlay">
  <div class="popup">
    <div class="group-new">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563001489/nice_try_bzisao.png" alt="">
  <p>**This journal will track progress towards your goals.** Your journal title should be an area of your life you wish to improve such as Fitness, Relationships, or Spirituality.</p>
  </div>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield form-textfield-new" placeholder="" type="text" name="journal[title]" id="title">
    <div class="button-mainpage-group">
    <input class="form-submit" value="New Journal" type="submit">
    </div>
  </form>
    </div>
  </div>
</div>
<% @entries.each do |entry| %>
  <button class="collapsible"><h4><%= entry.goal %></h4></button>
  <div class="content">
    <%# <%=  link_to entry.goal.capitalize, entry_path(entry), :class => "link-title" %>
    <% entry.last_three_milestones.each do |milestone| %>
      <%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
    <div class="group-collapse">
          <!-- <i class="far fa-clock"></i> -->
        <p><%= milestone.title %></p>
        <%= button_tag do %>
          <i class="far fa-clock"></i>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>


