<% content_for :meta_title, "#{@journal.title.capitalize} - #{DEFAULT_META["meta_product_name"]}" %>

<div class="card-journal-book">
    <div class="card-journal-book-top">
      <div class="card-journal-book-text">
          <h2><%= @journal.title.capitalize %></h2>
      </div>
      </div>
      <div class="card-journal-book-trophies">
      <% if @journal.achievements.count == 0 %>
          <% then %>
          <div class="nice-trophy">
            <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563342622/092-medal-7_qqfxqg.png" alt="">
            </div>
            <% else %>
            <% @journal.trophies.each do |trophy| %>
              <img  class="medals-fix" src=<%= trophy.image %> alt="">
                <% end %>
          <% end %>
      </div>
    <div id="popup1" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <p class="add-goal" style="color:#69585F; text-align:center;">Add a New Goal</p>
          <%= simple_form_for [@journal, @entry] do |m| %>
          <%= m.input :goal %>
        <% end %>
    </div>
  </div>
    <% @entries.each do |entry| %>
      <button class="collapsible">
        <div class="card-journal-book-entries">
        <h3><%= entry.goal %><br></h3>
          </div>
          <a class="button" href="#popup"<%= entry.id %>">+</a>
      </button>
      <div class="content">
          <% entry.milestones.each do |milestone| %>
            <%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
            <div class="group-collapse">
              <p><%= milestone.title %></p>
              <%= button_tag do %>
              <i class="animate-180 fas fa-hourglass-end"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <div id="popup<%= entry.id %>" class="overlay">
    <div class="popup">
      <a class="close" href="#">&times;</a>
        <p  class="add-milestone" style="color:#69585F; text-align:center">Add a New Milestone</p>
        <%= simple_form_for [entry, Milestone.new] do |m| %>
        <%= m.input :title, label: false, :class => "form-textfield" %>
      <% end %>
  </div>
</div>
<% end %>

<a class="card-journal-book-add" href="#popup1">New Goal</a>
</div>


<script>
  function on() {
    document.getElementById("overlay").style.display = "block";
  }

  function off() {
    document.getElementById("overlay").style.display = "none";
  }
</script>
