<h2 class="paragraph-margin"><%= @journal.title.capitalize %></h2>
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :label => "Goal" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :label => "Milestone", :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>
<div class="button-large-blue" style="text-align:center;">
<%= link_to "Start Pomodoro", Pomodoro.first %>

<% @entries.each do |entry| %>
<div class="entries-card">
  <div class="background-card">
<h3 style="font-weight:800;"><%= entry.goal.capitalize %></h3>
<div class="entries-card-milestones">
  <% entry.milestones.each do |milestone| %>
<h4> <%= milestone.title.capitalize %></h4>
<% end %>

  </div>
  </div>
  </div>
<% end %>
