
<h2><%= @journal.title.capitalize %></h2>
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal  %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: "Add 1, 2, or 3 milestones!", :class => "form-textfield" %>
  <% end %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
    <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>

<% @entries.each do |entry| %>
<div class="background-card">
<div class="entries-card">

  <div class="background-card">
<h3 style="font-weight:800;"><%=  link_to entry.goal.capitalize, entry_path(entry), :class => "link-title" %></h3>
<div class="entries-card-milestones">
  <h3><% entry.milestones.each do |milestone| %></h3>
<h4 style=";"> <%= milestone.title %></h4>
<% end %>

  </div>
  </div>
  </div>
<% end %>
