<h2><%= @journal.title.capitalize %></h2>

<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :placeholder => "none" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title,  :class => "form-textfield" %>
  <% end %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input, label: false, :class => "form-textfield" %>
  <% end %>
    <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>

<div class="icon-div">
<i class="fas fa-arrow-down"></i>
</div>
