<% title "New Journal Entry" %>

<h2><%= @journal.title.capitalize %></h2>

<div class="container-logo">

</div>
**Great! Lets create a goal that's specific to <%= @journal.title.capitalize %>.** Make sure your goal is S.M.A.R.T (Specific, Measurable, Achievable, Realistic, and Timely).
<br><br>
What are some actions, habits, or benchmarks that will bring you closer to your goal? Focus on these milestones to accomplish your goal.

<br><br>
Awesome! You now have a clear map to accomplish your goal. Are you ready to start a focus session towards one of your objectives?</p>

<img class="img-test" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562936507/try3013_rzzkbc.png" alt="">
<div class="experiment-card-container">

<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :placeholder => "none" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title,  :class => "form-textfield" %>
  <% end %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
    <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>

<div class="icon-div">
<i class="fas fa-arrow-down"></i>
</div>
