<div class="scroll-container">
  <div class="group-creation1">
    <div class="card-for-entries">
      <% title "New Journal Entry" %>
      <div class="card-for-entries-inner ">
          <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563001489/nice_try_bzisao.png" alt="">
        <p>Great choice! <br> Let's create a goal that's specific to
          <%= @journal.title.capitalize %>, then we will create some milestones to help accomplish that goal.</p>
      </div>
      <div class="card-for-entries-form">
        <%= simple_form_for [@journal, @entry] do |m| %>
          <%= m.input :goal %>
          <div class="card-for-entries-button">
        <a href="#scroll-button" class="form-submit">Create</a>
        </div>
      </div>
    </div>
  </div>
  <div class="space-between"></div>
  <div id="scroll-button" class="group-creation2">
    <div class="card-for-milestones">
      <div class="card-for-milestones-inner">
        <p>Last step! List 1, 2, or 3 actions, habits, or benchmarks that will bring you closer to your goal.</p>
        <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563108730/reverze_cuytoz.png" alt="">
        </div>
        <%= m.simple_fields_for :milestones do |p| %>
        <%= p.input :title, :class => "form-textfield" %>
      <% end %>
      <%= m.simple_fields_for :milestones do |p| %>
      <%= p.input :title, label: false, :class => "form-textfield" %>
    <% end %>
    <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, label: false, :class => "form-textfield" %>
  <% end %>
  <div class="card-for-milestones-inner">
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>
</div>
</div>
</div>
