
<div class="card-large">
<h3><%= @entry.goal.split.map(&:capitalize).join(' ') %></h3>
<!-- <p><%= @entry.milestones.first.pomodoros.first.end - @entry.milestones.first.pomodoros.first.start %></p> -->
<% @milestones.each do |milestone| %>
<%= milestone.time %>
<h3 style=";"> <%= milestone.title.split.map(&:capitalize).join(' ') %></h3>
<%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
  <%= m.submit "Start a Focus Session", :class => "form-submit"%>
<% end %>

<% end %>
</div>


<div class="entries-card">
  <%= simple_form_for [@entry, @milestone] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :title, hint: 'Ex, Clean my room', label: 'Create Milestone' %>
  <div class="form-actions">
    <%= f.button :submit %>
    <div class="back-button-form">
      <%= link_to "Back", journals_path %>
    </div>
  </div>
</div>
<% end %>

<% @milestones.each do |milestone| %>
<div class="card-test">
  <h4><%= milestone.title.split.map(&:capitalize).join(' ') %></h4>
  <%= simple_form_for([milestone, Pomodoro.new]) do |m| %>
  <%= m.submit "Focus Session", :class => "button-test-card"%>
</div>

<% end %>
<% end %>

