<<<<<<< HEAD
<div class="leaderboard-card">
  <h2>Leaderboard</h2>
<% @users.each_with_index do |user| %>
<div class="leaderboard-card-inner">
  <p><%= user.username %></p>
    <p><%= user.user_minutes %>m</p>
    </div>
<% end %>
</div>
=======


<%= @users.first.username %>
<%= @users.second.username %>
<%= @users.third.username %>

          <% @not_podium.each do |user| %>

            <p><%= user.username %>: <%= user.user_minutes %> minutes</p>
              <% end %>
>>>>>>> 7e6eeaa3e4172adbbf844bea38db4c5377a3ab5a
