<% @journals.each do |journal| %>
  <%= link_to journal_entries_path(journal) do %>
  <div class="card-journal">
    <!-- <div class="card-journal-profile"> <img src="https://source.unsplash.com/random/100x100" alt=""> </div> -->
    <div class="card-journal-top">
      <h2><%= journal.title.capitalize %> <br> <span class="text-special"></span></h2>
      <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563012445/zxc_vvjt4c.png" alt="">
      </div>
      <div class="card-journal-trophies">
        <div class="trophies">
          <p>Trophies</p>
          <p>9 m</p>
          <i class="fas fa-clock"></i>
        </div>

        <div class="time">
          <p>Time</p>
          <p><%= journal.time %></p>
          <i class="fas fa-hourglass-end"></i>
        </div>

        <div class="times">
          <p>Times</p>
          <p><%= journal.focus_sessions %></p>
          <i class="fab fa-apple"></i>
        </div>

        <div class="something">
          <p>rating</p>
          <!-- <p> journal.star_average </p> -->
          <i class="fas fa-address-book"></i>
        </div>
      </div>

<div class="card-journal-show-entries-wrapper">
<div class="card-journal-show-entries"">
  <p>Continue</p>
</div>
  </div>
  </div>
<% end %>
<% end %>
  </div>

 <div class="card-own-journal">
<div class="card-own-journal-text">
  <p>Feel free to create another journal. Remember the title should be a broad subject you wish to work on.</p>
  <div class="image-create">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563108730/reverze_cuytoz.png" alt="">
  </div>
</div>
  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield" type="text" placeholder="Eg: Health, Fitness, School, Career.. " name="journal[title]" id="title">
 <input type="hidden" id="helpUser" name="helpUser" value=true>
<div class="margin-paragraph">
    <input class="form-submit" value="Make a new Journal" type="submit">
  </form>
  </div>
</div>
</div>
</div>
